@charset "utf-8";
/*
 Plugin Name: Slick Gallery
 slick-gallery.css
*/

.slick-gallery {
  width: 100%;
  overflow: hidden;
  *zoom: 1;
}

.slick-gallery * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.slick-gallery .item a {
  display: block;
}

/* Boxer Customize
--------------------------------------------- */
#boxer {
  border-radius: 0;
}

#boxer:not(.mobile) .boxer-control.previous,
#boxer:not(.mobile) .boxer-control.next {
  opacity: 0;
}

#boxer:not(.mobile):hover .boxer-control.previous,
#boxer:not(.mobile):hover .boxer-control.next {
  opacity: 1;
}

#boxer:not(.mobile) .boxer-control.previous.disabled,
#boxer:not(.mobile) .boxer-control.next.disabled {
  opacity: 0;
}

#boxer .boxer-control.next {
  right: 10px;
}

#boxer .boxer-control.previous {
  left: 10px;
}

#boxer .boxer-meta {
  padding-top: 0;
}

#boxer .boxer-position {
  display: none;
}

#boxer .boxer-close {
  right: -15px;
  top: -15px;
}

/* Media queries for responsive design
--------------------------------------------- */
/* --- iPad Landscape --- */
@media screen and (min-width: 640px) {

}